#  Data Science Tools and Ecosystem

En este cuaderno, se resumen las herramientas y ecosistemas de ciencia de datos.

Algunos de los lenguajes populares que utilizan los científicos de datos son:

1. Python
2. R
3. SQL
4. Java
5. C++

Algunas de las bibliotecas comúnmente utilizadas por los científicos de datos incluyen:

1. Numpy
2. Pandas
3. Scikit_lean

Tabla

|Herramientas de Ciencia de Datos|
----------------------------------
|Microsoft excell|
|Apache spark|
|Python|
|Apache Hadoop|

###  A continuación, se presentan algunos ejemplos de evaluación de expresiones aritméticas en Python

In [2]:
5+5

10

In [3]:

6+3

9

In [9]:
6/3

2.0

In [23]:
(3*4)+5  #Esta es una expresión aritmética simple para multiplicar y luego sumar entero#

17

In [24]:
200/60
#Esto convertirá 200 minutos a horas dividiendo por 60#

3.3333333333333335

**Objetivos**

-Reconocer los diferentes lenguajes de programación para ciencia de datos.

-Comprender el uso de herramientas.

-Analizar los diferentes resultados

## Autor
Ana Marcela Diaz